html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    background-color: #4e4e4e;
    margin-bottom: 50px;
}

#titlewords {
    color: #3b3b3b;
    background-color: #44b477;
    border-bottom: 4px solid #3b3b3b;
    width: 100%;
    padding: 10px;
    font-size: 1.5em;
    font-weight: 800;
    font-style: italic;
    font-family: Georgia; 
}

#titlewords p {
    text-align: center;
}

li {
    list-style: decimal;
    color: #3b3b3b;
    font-weight: 800;
    font-style: italic;
    font-family: Georgia;
    margin-left: 20px;
}

li ol li {
    list-style: disc;
}

.part {
    float: left;
    background-color: #44b477;
    border: 2px solid #3b3b3b;
    border-radius: 7px;
    margin: 25px;
    padding: 15px;
}

.part p {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 5px;
    color: #3b3b3b;
    font-weight: 800;
    font-style: italic;
    font-family: Georgia;
    font-size: 1.2em;
}

img {
    float: left;
    margin: 25px;
    border: 3px solid #44b477;
    border-radius: 15px;
}

.done {
    color: #67cc95;
}

a {
    color: black;
}

a:hover {
    color: white;
}

#today {
    background-color: white;
    position: fixed;
    top: 0;
}

#today .done {
    color: lightgray;
}

#today:hover {
    cursor: pointer;
}